<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Welcome {{user.first_name}}</title>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body ng-controller="indexCtrl">

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<h3>Welcome {{user.first_name}} </h3>
				<!-- Button trigger modal -->

			</div>

			<div class="col-md-8">
				<h3>My Dashboard</h3>

			</div>
			<div class="col-md-10" ng-repeat="post in allPosts">
				<md-card  md-theme-watch="">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline"><a href='#post?id={{post.postId}}'>{{post.postTitle}}</a></span>
            <span class="md-subhead">{{post.authorName}}</span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
			</div>
		</div>
	</div>


	<!-- Edit Profile Modal -->
	


<!-- Scripts for AngularJS -->
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
	<script type="text/javascript" src="resources/js/updateUserInfo.js"></script>
</body>
</html>