<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Welcome {{user.first_name}}</title>

<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
	rel="icon" />
<link href="resources/css/responsive.css" rel="stylesheet">
<link href="resources/imgs/favicon.ico" rel="icon" type="image/x-icon" />
<link rel="icon" href="resources/imgs/favicon_192.png" />
<link rel="apple-touch-icon" href="resources/imgs/favicon_192.png" />
</head>
<body ng-controller="indexCtrl">
	

	<div class="container-fluid">
		<div class="row">


			<!-- Button trigger modal -->



			<div class="col-md-8">
				<h1>My Dashboard</h1>
<br> <hr>
			
			<div ng-repeat="post in allPosts | filter:search">
				 <span class="md-headline"><a
					href='#post?id={{post.postId}}'>{{post.postTitle}}</a></span> <span
					class="md-subhead"><i> by {{post.authorName}}</i></span> 
<hr>
			</div>
		</div>




		<!-- Blog Sidebar Widgets Column -->
		<div class="col-md-4">

			<!-- Blog Search Well -->
			<div class="well">
				<h4>Search Posts</h4>
				<div class="input-group">
					<input type="text" class="form-control" ng-model="search" placeholder="search..."> <span
						class="input-group-btn">
						<button class="btn btn-default" type="button">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</span>
				</div>
			<hr>
				<h4>View Posts by Category</h4>
				<div class="row">
					<select class="form-control" id="sel1" ng-options="categories for categories in allCategories" ng-model="selectCategories" ng-change="getPostsByCategory(selectCategories)"></select>
				</div>
				<!-- /.row -->
			</div>

		

		</div>

	</div>
</div>

</body>
</html>