<div class="jumbotron">
	<h3>Profile</h3><br>
	<div data-ng-controller="profileCtrl">
		 <md-card md-theme="{{'dark-grey'}}" md-theme-watch="">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{user.first_name}}   {{user.last_name}}</span>
            <span class="md-subhead">{{user.username}}</span>
            <span class="md-subhead">{{user.role.roleName}}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-content>
        	<p>{{user.bio}}</p>
        	<h4>Personal Info</h4>
        	<ul>
        	<li>Email: {{user.email}}</li>
        	<li>Validated: {{user.vaildated == 1? "yes":"no"}}</li>
        	<li>PhoneNumber: {{user.phoneNumber}}</li>
        	<li>School: {{user.unviersity}}</li>
        	<li>Complex: {{user.complex.categoryName}}</li>
        	</ul>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Go to posts</md-button>
        </md-card-actions>
      </md-card>
	</div>
</div>
