<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="theme-color" content="#f26925">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Revature | Advancing Talent and Technologies</title>
<link rel="canonical" href="https://revature.com" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"> </script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css"
	href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.css">
<link href="resources/css/cards.css" rel="stylesheet" />
<link href="resources/css/style.css" rel="stylesheet" />
 <link href="resources/css/editor.css" rel="stylesheet" />
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
	rel="icon" />
<link href="resources/css/responsive.css" rel="stylesheet">
<link href="resources/imgs/favicon.ico" rel="icon" type="image/x-icon" />
<link rel="icon" href="resources/imgs/favicon_192.png" />
<link rel="apple-touch-icon" href="resources/imgs/favicon_192.png" />
<meta name="msapplication-square150x150logo" content="favicon_150.png" />
<script src="https://use.typekit.net/pvo4jdm.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<meta
	content="We’re a leading-edge technology solutions firm with an unparalleled talent development platform that empowers people and companies to move forward, faster."
	name="description">
<meta name="keywords"
	content="training program, software development, find developers, hire software developer" />
<style type="text/css">
.wf-loading {
	visibility: hidden;
}


[data-ng-click] {
    cursor: pointer;
}


</style>
<!-- bootstrap -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/8d8fa1da46.js"></script>

</head>
<body ng-app="routingApp" ng-controller="indexCtrl">
	<div class="navbar-wrapper hero-bm">
		<div class="container">

			<nav class="navbar navbar-revature navbar-static-top navbar-bg">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse" data-target="#navbar"
							aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<div class="logo">
							<a href="index.jsp"><img src="resources/imgs/logo.png" alt="Revature" /></a>
						</div>
					</div>
					<div id="navbar" class="navbar-collapse collapse rev-menu">
						<ul class="nav navbar-nav">
							<li><a href='#dashboard'>Home</a></li>
							<li><a href='#userProfile'>My Profile</a></li>
							<li><a href='#createNewUser'>Create User</a></li>

							<li><a data-ng-click='logout()'>Log out</a></li>

						</ul>
					</div>
					<hr>
				</div>
			</nav>
			
		

		</div>
	</div>
	
	<br><br>
	
	   <div>
            <div ng-view></div>            
        </div>
<script type="text/ng-template" id="dialog1.tmpl.html">
	<md-dialog aria-label="">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>You are not logged in</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          Ok
        </md-button>
      </div>
    </md-toolbar>
	 <md-dialog-content>
	 <h5>Please login to access content</h5>
	</md-dialog-content>
	</md-dialog>
	</script>
	
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js'></script>
<script src="scripts/angular-route.min.js"></script>
<!-- angular cookies -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-cookies.js"></script>

<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap.min.js"></script>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js"></script>
<script
    src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script
    src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script
    src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
<script type="text/javascript"
    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
<script type="text/javascript"
	src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.js"></script>
	<script
		src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-sanitize.min.js'></script>
	<script
		src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.1.2/textAngular.min.js'></script>
		
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-resource.js"></script>
<script src="resources/js/app.js"></script>
       <script type="text/javascript" src="resources/js/profile.js"></script>
       <script src='scripts/ctrls.js'></script>
<script src="resources/js/indexController.js"></script>
<script src="resources/js/posts.js"></script>
<script src="resources/js/postController.js"></script>
<script src="resources/js/updateUserInfo.js"></script>
<script src="resources/js/editor.js"></script>
</body>
</html>