<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>RevPages</title>
<link rel="stylesheet" type="text/css" href="resources/css/homepage.css" />
<link rel="stylesheet" type="text/css"
	href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
</head>
<style>
</style>
<body>

	<div data-ng-app="routingApp" data-ng-controller="loginController"
		data-ng-cloak="" id="popupContainer">
		<nav class="navbar navbar-default">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<button type="submit" class="btn btn-info"
						data-ng-click="toIndex()">Go to Index</button>
				</li>
			</ul>
		</nav>

		<div class="container">
			<label id="title">Welcome to RevPages</label><br> <label
				for="user" class="input">UserName</label><br> <input
				type="text" name="user" data-ng-model="person.username"><br>
			<label for="password" class="input">Password</label><br> <input
				type="password" name="password" data-ng-model="person.password"><br>
			<button type="submit" class="button-primary"
				data-ng-click="signIn(person)">Login</button>
		</div>


		<script type="text/ng-template" id="dialog1.tmpl.html">
	<md-dialog aria-label="">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>User not found</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          Ok
        </md-button>
      </div>
    </md-toolbar>
	 <md-dialog-content>
	 <h5>Please try again</h5>
	</md-dialog-content>
	</md-dialog>
	</script>
	</div>
</body>

<script
	src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js'></script>
<script src="scripts/angular-route.min.js"></script>
<!-- angular cookies -->
<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-cookies.js"></script>

<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
<script type="text/javascript"
	src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
<script type="text/javascript"
	src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.js"></script>
	<script
	src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-sanitize.min.js'></script>
<script
	src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.1.2/textAngular.min.js'></script>

<script src="resources/js/app.js"></script>
<script type="text/javascript" src="resources/js/loginController.js"></script>





</html>