<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>


<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">

<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-1.12.3.js"
	type="text/javascript"></script>

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
<link rel='stylesheet prefetch'
    href='http://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css'>
<link rel='stylesheet prefetch'
    href='http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css'>

<style type="text/css">
.ta-toolbar {
	background-color: #F0F0F0;
	padding: 10px 10px 5px;
	margin-left: 0px; /* Override bootstrap */
	border: 1px solid #EEE;
}

.ta-toolbar .btn-group {
	margin-bottom: 5px;
}

textarea.ta-bind {
	width: 100%;
}

.ta-editor {
	padding: 10px;
	background-color: #FFF;
	border: 1px solid #EEE;
	min-height: 300px;
	height: auto;
	overflow: auto;
	font-family: inherit;
	font-size: 100%;
}

#singleReply {
	margin-top: 2%;
}

#thumbsUp {
	margin-left: 10%;
}
</style>

</head>
<body data-ng-app="routingApp" when-scroll-ends="">
	<div class="col-sm-2 sidenav">
		<p>test left side</p>
	</div>

	<div class="container-fluid text-center" infinite-scroll="getMorePosts(firstResult)" infinite-scroll-distance='1'>

		<div class="col-sm-8 text-left">
			<div id="allPosts" data-ng-controller="postsCtrl">
				<div id="newPost">
					<ul class="list-group">
						<li class="list-group-item">
							<div class="row">
								<div>
									<p id="theUsername">{{user.username}}</p>
								</div>
							</div>
						</li>
						<li class="list-group-item">
							<div id=title>
								<input class="form-group" id="postContent" type="text"
									placeholder="Title" ng-model="postTitle">
							</div>
							<div>
								<div>
									<h3>Create Post</h3>

									<div text-angular="text-angular" name="htmlcontent"
										ng-model="htmlcontent" ta-disabled='disabled'
										ta-text-editor-class="clearfix border-around"
										ta-html-editor-class="border-around"></div>
									<hr>

									<button id="submit" type="button" class="btn btn-primary"
										ng-click="addPost(postTitle, htmlcontent)">Submit</button>
									<button type="button" class="btn btn-primary"
										ng-click="htmlcontent = emptyhtml">Reset</button>
									<button type="button" class="btn btn-primary"
										data-toggle="modal" data-target=".bs-example-modal-lg">Get
										Code Block HTML</button>
								</div>
							</div>
						</li>
					</ul>
				</div>

				<div id="posts" ng-repeat="postContainer in allPosts">
					<div id="eachPost">
						<ul class="list-group">
							<li class="list-group-item">
								<div>
									<h2 id="thePost">{{postContainer.postTitle}}</h2>
								</div>
							</li>
							<li class="list-group-item">
								<div ng-bind-html="postContainer.postContent">
									<p id="thePost">{{postContainer.postContent}}</p>
								</div>
							</li>

							<li class="list-group-item">
								<div class="{{postContainer.postId}}">
									<div id="singleReply" class="row" ng-repeat="replies in postContainer.replyContent">
										<div class="col-md-8">{{replies}}</div>
										<div class="col-md-4">
											<button type="button" class="btn btn-default"
												aria-label="Right Align">
												<span class="glyphicon glyphicon-thumbs-up"
													aria-hidden="true"></span>
											</button>
											<button type="button" class="btn btn-default"
												aria-label="Right Align">
												<span class="glyphicon glyphicon-thumbs-down"
													aria-hidden="true"></span>
											</button>
										</div>
									</div>
								</div>
							</li>
							<li class="list-group-item" id="theRepyTextBox"><input
								id="post" name="post1" type="hidden"
								ng-init="postId=postContainer.postId;" ng-model="postId" /> <input
								class="form-group" id="replyText" type="text"
								placeholder="reply" ng-model="userReply1">
								<button id="reply" type="button" class="btn btn-primary"
									ng-click="addReply(userReply1, postId)">reply</button></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-2 sidenav">
			<div class="well">
				<p>test</p>
			</div>
			<div class="well">
				<p>test</p>
			</div>
		</div>
	
	</div>
	<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
		aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="form-group">
					<label for="sel1">What language would you like to snip code
						in:</label> <select class="form-control" id="sel1">
						<option>Java</option>
						<option>JS</option>
						<option>HTML</option>
						<option>C</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<!-- Scripts for AngularJS -->
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
	<script type="text/javascript" src="resources/js/posts.js"></script>

	<script
		src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js'></script>
	<script
		src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-sanitize.min.js'></script>
	<script
		src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.1.2/textAngular.min.js'></script>
	<script>
		$('#myModal').on('shown.bs.modal', function() {
			$('#myInput').focus()
		})
	</script>
	<script type="text/javascript" src="resources/js/posts.js"></script>
	
	<!-- infinte scrolling angular plugin -->
 	<script type='text/javascript' src='resources/ngInfiniteScroll-1.0.0/build/ng-infinite-scroll.min.js'></script>
</body>
</html>