<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="theme-color" content="#f26925">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	
<title>Update Temp Info</title>

<link rel="stylesheet" href="resources/css/updateTempInfo.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-1.12.3.js" type="text/javascript" ></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<link rel="canonical" href="https://revature.com" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"> </script>

<link href="css/bootstrap-3.3.7/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link href="css/carousel.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet">

<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
	rel="icon" />
<link href="resources/css/responsive.css" rel="stylesheet">
<link href="resources/imgs/favicon.ico" rel="icon" type="image/x-icon" />
<link rel="icon" href="resources/imgs/favicon_192.png" />
<link rel="apple-touch-icon" href="resources/imgs/favicon_192.png" />
<meta name="msapplication-square150x150logo" content="favicon_150.png" />
<script src="https://use.typekit.net/pvo4jdm.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<meta
	content="We’re a leading-edge technology solutions firm with an unparalleled talent development platform that empowers people and companies to move forward, faster."
	name="description">
<meta name="keywords"
	content="training program, software development, find developers, hire software developer" />
<style type="text/css">
.wf-loading {
	visibility: hidden;
}
</style>

<link rel="stylesheet" type="text/css"
	href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.css">
</head>
<body data-ng-app="routingApp" data-ng-controller="updateTempCtrl">

<div class="navbar-wrapper hero-bm">
		<div class="container">

			<nav class="navbar navbar-revature navbar-static-top navbar-bg">
				<div class="container">
					<div class="navbar-header">
					
						<div class="logo">
							<a href="index.html"><img src="resources/imgs/logo.png" alt="Revature" /></a>
						</div>
					</div>
					
				</div>
			</nav>
			
			<div align="center">
				<h1>RevPages</h1>
			</div>

		</div>
	</div>


<div class = "formContainer">
	<form class="form-horizontal" id="components" role="form">
		<fieldset>
			<div class="tab-content" id="updateTempCtrl" data-ng-controller="updateTempCtrl">
				<!-- Tabs of snippets go here -->
				<div class="tab-pane active" id="input">
					<div class="component">
						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="textinput">
								New Username</label>
							<div class="col-md-4">
								<input class="form-control input-md" id="username" type="username" maxlength="40" placeholder="New Username" ng-model="username">
							</div>
						</div>
					</div>
					<div class="component">
						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="textinput">
								Temporary Password</label>
							<div class="col-md-4">
							<input class="form-control input-md" id="password" type="password" minlength="6" placeholder="Temporary Password" ng-model="oldPassword">
							</div>
						</div>
					</div>
					<div class="component">
						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="textinput">
								New Password</label>
							<div class="col-md-4">
								<input class="form-control input-md" id="password" type="password" minlength="6" placeholder="New Password" ng-model="newPassword">
							</div>
						</div>
					</div>
					<div class="component">
						<button id="updateBtn" type="button" class="btn btn-primary" ng-click="updateInfo(oldPassword, newPassword, username)">update</button>
					</div>	
				</div>
			</div>
		</fieldset>
	</form>
</div>














<!--  
	<div class="container">
		<div class="jumbotron">
			<div id="welcome">
				<p>Please update your information</p> <br>
				
				<div id="updateTempCtrl" data-ng-controller="updateTempCtrl">
					New Username: <input class="form-group" id="username" type="username" maxlength="40" placeholder="New Username" ng-model="username"> <br><br>
					Temporary Password: <input class="form-group" id="password" type="password" minlength="6" placeholder="Temporary Password" ng-model="oldPassword" ng-change="checkingPassword(oldPassword)"> <br><br>
					New Password: <input class="form-group" id="password" type="password" minlength="6" placeholder="New Password" ng-model="newPassword" ng-disabled="checked ==false;"> <br><br>
					<button type="button" class="btn btn-primary" ng-click="updateInfo(oldPassword, newPassword, username)" ng-disabled="checked ==false;">update</button>
			</div>
		</div>
	</div>
</div>
-->



<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js'></script>
<script src="scripts/angular-route.min.js"></script>
<!-- angular cookies -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-cookies.js"></script>

<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
<script type="text/javascript"
	src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
<script type="text/javascript"
	src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.js"></script>

<script src="resources/js/app.js"></script>
	<script type="text/javascript" src="resources/js/updatetemp.js"></script>
</body>
</html>