@CHARSET "ISO-8859-1";
.container, strong {
	display: block;
	width: 500px;
	margin: 100px auto 0;
	background-color: #FFF;
	padding: 50px;
	color: white;
	border: 10px solid #FF4500;
	border-radius: 25px;
}

.button-primary {
	background-color: #ff4511;
	border: 2px solid #FFF;
	border-radius: 25px;
	color: white;
	padding: 5px;
	margin-top: 10px;
}
#title {
	color: #FF4500;
	text-align: center;
	margin: auto 0;
	font-size: 20px;
}

.input{
	color: #FF4500;
	margin: 10px 0;
}

input {
	width: 100%;
	border: 5px solid #FF4500;
	border-radius: 2px;
	margin: 10px 0px;
	color: black !important;
}

li button {
	margin: 2px 15px 0px 0px;
} 

.dialogdemoBasicUsage {
  position: relative; 
  
  }
  
md-backdrop{
position: fixed !important;
}

.md-dialog-container {
	position: fixed;
}

md-toolbar{
	background-color: #ff4511;
	border: 2px solid #FFF;
	border-radius: 25px;
	color: white;
	margin: 0px 0px 2px 0px;
}

.md-toolbar-tools{
	background-color: #ff4511;
	border: 2px solid #FFF;
	border-radius: 25px;
	color: white;
}

md-dialog{
	border-radius: 25px;
}

md-dialog-content {
	text-align: center;
}