@media only screen and (min-width: 1600px){
.map iframe{
	width:100%!important;
}	
}

@media only screen and (max-width: 1380px){
.img1 img{
	width:100%;
}
.txt {
  width:23.9%;
}
.wrap {
  margin: 0 auto;
  max-width: 90%;
}
}



@media only screen and (max-width: 1100px){
.wrap {
  margin: 0 auto;
  max-width: 98%;
}
.slidertext h1{
	font-size:70px;
}
.slidertext span{
	font-size:28px;
}
.bx1 .sup {
  left: 0;
  top: -22px;
}
.ar img{
	width:60%;
}
.ar1 {
  right: -78%;
}
.ar2 {
  right: -80%;
}
.ar3 {
  right: -70%;
}
.ar4 {
  right: -70%;
}
.boxes {
  padding-top: 35px;
}
.sec2left {
  max-width: 60%;
  padding-bottom: 200px;
}
.sec2right {
  max-width: 40%;
}
.sec2{
	background-size:100% 100%;
}
.sec3 img{
	width:100%;
}
.sec3 li {
  width: 31%;
}
.add-con {
  padding-top: 1px;
  width: 75%;
}
.txt {
  width: 23.8%;
}

}
@media only screen and (max-width: 1030px){
	.menu li {
  margin: 0 5px;

}
.aboxes {

  max-width: 30.5%;
}
}
@media only screen and (max-width:980px){
.menu li a{
	font-size:14px;
}
.aboxes{
	max-width: 290px;
}
.aboxinn {
  padding: 12px 15px 20px;
  text-align: center;
}
.abx2 {
  margin: 0 25px;
}
}
@media only screen and (max-width:900px){

	
}
@media only screen and (max-width:800px){
#menu-icon{
	display:block!important;
}
#menu {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 999999;
  background:#000;
}
	#menu li{
		display:block;
	}
	#menu li a{
		padding:8px 8px;
		font-size:18px;
	}

.mn{
	padding:0;
}
.menu li {
  padding: 0;
  margin-bottom:5px;
}
.menu-icn{
	float:right;
}

#menu {
  background:rgba(255,255,255,0.8);
  display: none;
  right: 0;
  text-align: right;
  width: 100%;
  z-index: 999999;
  padding:0 10px;
}
.menu-icn {
  margin-top: 20px;
}
.slidertext h1 {
  font-size: 40px;
  line-height: normal;
  padding: 5px 10px;
}
.seclsider {
  top: 50%;
}

.slidertext span {
  font-size: 15px;
}
.ar{
	display:none;
}
.boxes ul {
  display: block;
  justify-content: inherit;
}
.boxes li {
  width: 49%;
  margin-bottom:40px;
}
.imgpop {
  margin: 0 auto;
  max-width: 127px;
  position: relative;
}
.sec2{
	background:#DDDEE3;
}
.sec2left {
  max-width: 100%;
  padding-bottom: 0;
  float:none;
}
.sec2right {
  float: none;
  max-width: 100%;
  padding: 40px 0;
}
.aboxes {
  max-width: 31%;
}
.sec4 span {
  color: #fff;
  font-size: 24px;
}
.tags li span {
  font-size: 13px;
  padding-left:5px;
}
.tags img{
	width:40px;
}
.forminnleft {
  float: none;
  max-width: inherit;
  padding-top: 27px;
  width: 100%;
}
.step-con {
  float: left;
  width: auto;
}
.forminnright {
  float: none;
  max-width: inherit;
  width: 100%;
}
.frm {
  left: 0;
  position: inherit;
  top: 0;
  width: 100%;
}
.formc {
  margin-bottom: 40px;
  margin-top: 40px;

}
.f-box {
  float: left;
  width: 50%;
}
.map img{
	width:100%;
}
.txt {
  width: 49%;
}
.txt6,.txt9,.txt12{
	margin-left:0;
	margin-top:12px;
}
.txt7{
	margin-top:12px;
}
.ourleft {
  border-right: 0 none;
  float: none;
  width: 100%;
}
.ourinn {
  padding-right: 0;
}
.ourright {
  float: none;
  width: 100%;
  padding-top:30px;
}
.ourinn2 {
  padding-left: 0;
  padding-right: 0;
}
}
@media only screen and (max-width:767px){
	.aboxes {
  margin-bottom: 30px;
  max-width: 100%;
}
.aboxes {
  float: none;
  margin: 0 0 30px;
  max-width: 100%;
}
.sec3 li {
  display: block;
  width: 100%;
  margin-bottom:30px;
}
.sec3 ul {
  display: block;
  justify-content: inherit;
  padding-top: 40px;
}
.h1{
	font-size:24px;
}
.f-box {
  float: none;
  margin-bottom: 0;
  width: 100%;
  padding-bottom: 30px;
}
}
@media only screen and (max-width:600px){
	.user .act img {
  height: 50px;
  width: 50px;
}
.user img {
  height: 28px;
  width: 28px;
}
.testt {
  margin-left: -60px;
}
}
@media only screen and (max-width:500px){
.slidertext h1 {
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
  padding: 5px 10px;
  margin-bottom:2px;
}
.slidertext span {
  font-size: 8px;
  padding: 7px 10px;
}
.user a {
  padding: 0 5px;
}
.tags li {
  margin-bottom: 30px;
  text-align: center;
  width: 49%;
}
.tags ul {
  display: block;
  justify-content: inherit;
  margin-bottom: 0;
}
.inform-con input[type="text"] {
  margin: 0 0 12px;
  width: 100%;
}
}
@media only screen and (max-width:400px){

.boxes li {
  margin-bottom: 40px;
  width: 100%;
}
.sec2left li{
	background-position:left 8px;
}
.user img {
  height: 36px;
  width: 36px;
}
.user .act img {
  height: 50px;
  width: 50px;
}
.testt {
  margin-left: -55px;
}
.forminnright input[type="text"] {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
.text2{
	margin:12px 0;
}
.text4{
	margin-top:12px;
}
.h22 {
  font-size: 14px;
  padding: 20px 0 0;
}
.wrap {
  margin: 0 auto;
  max-width: 94%;
}
.step-con {
  float: left;
  width: 75%;
}
.seclsider {
  top: 50%;
}
}
@media only screen and (max-width:330px){
.user img {
  height: 28px;
  width: 28px;
}	
}
@media only screen and (min-width: 1024px){
  .index-wid {
    min-height: 388px;
  }
}
@media only screen and (min-width: 768px) and (max-width:1023px ){
  .index-wid {
    min-height: 436px;
  }
}