@CHARSET "ISO-8859-1";

md-card {
	width: 85%;
	margin: 5px auto;
	border-radius: 20px;
	color: black;
	border: 5px solid #FF4500;
}

.md-button.md-ink-ripple {
	
	border: 2px solid #FF4500;
	border-radius: 25px;
	
}

md-card md-card-title {
	border: 6px solid #FF4500;
	padding: 4px;	
}

.md-subhead {
	padding: 10px 4px;
	border-top: 2px solid #FF4500;
	
}

md-card md-card-title md-card-title-text .md-subhead {
	font-size: 16px;
}

.md-headline {
	padding: 10px 4px;
}